/* =========================
   FOOTER
========================= */

.footer {
  margin-top: 100px;

  border-top: 1px solid rgba(255,255,255,0.08);
}

/* =========================
   MAIN AREA
========================= */

.footer-container {
  max-width: 1100px;

  margin: 0 auto;

  padding: 80px 0;

  display: grid;

  grid-template-columns:
    1.8fr
    1fr
    1fr
    1fr;

  gap: 40px;

  align-items: start;
}

/* =========================
   LOGO
========================= */

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 110px;
  height: auto;
}

/* =========================
   COLUMN
========================= */

.footer-column {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.footer-column h4 {
  font-family: "Inter", sans-serif;

  font-size: 15px;
  font-weight: 500;

  color: #ffffff;

  margin-bottom: 6px;
}

.footer-column p,
.footer-column a {
  font-family: "Inter", sans-serif;

  font-size: 15px;
  font-weight: 500;

  color: #777777;

  text-decoration: none;

  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #ffffff;
}

/* =========================
   BOTTOM BAR
========================= */

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.08);

  padding: 18px 20px;

  text-align: center;
}

.footer-bottom p {
  font-family: "Inter", sans-serif;

  font-size: 14px;

  font-weight: 500;

  color: #777777;

  line-height: 1.6;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  .footer {
    margin-top: 0px;
  }

  .footer-container {
    padding: 30px 20px;

    grid-template-columns:
      repeat(3, 1fr);

    gap: 24px;

    text-align: center;
  }

  /* Hide logo */

  .footer-logo {
    display: none;
  }

  .footer-column h4 {
    font-size: 14px;
  }

  .footer-column p,
  .footer-column a {
    font-size: 11px;
  }

  .footer-bottom {
    padding: 16px;
  }

  .footer-bottom p {
    font-size: 11px;
  }
}